<?xml version="1.0" encoding="utf-8" standalone="no"?>
<config>
    <modules>
        <RocketWeb_MageTesting>
            <version>0.1.0</version>
            <extension_version>1.0.0</extension_version>
        </RocketWeb_MageTesting>
    </modules>
    <global>
        <models>
            <magetesting>
                <class>RocketWeb_MageTesting_Model</class>
            </magetesting>
            <backup>
                <rewrite>
                    <backup>RocketWeb_MageTesting_Model_Backup</backup>
                    <fs_collection>RocketWeb_MageTesting_Model_Fs_Collection</fs_collection>
                </rewrite>
            </backup>
        </models>
        <resources>
            <magetesting_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                <setup>
                    <module>RocketWeb_MageTesting</module>
                </setup>
            </magetesting_setup>
            <magetesting_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magetesting_read>
            <magetesting_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magetesting_write>
        </resources>       
        <blocks>
            <magetesting>
                <class>RocketWeb_MageTesting_Block</class>
            </magetesting>
            <adminhtml>
                <rewrite>
                    <backup_grid>RocketWeb_MageTesting_Block_Adminhtml_Backup_Grid</backup_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <magetesting>
                <class>RocketWeb_MageTesting_Helper</class>
            </magetesting>
            <backup>
                <rewrite>
                    <data>RocketWeb_MageTesting_Helper_Data</data>
                </rewrite>
            </backup>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magetesting before="Mage_Adminhtml">RocketWeb_MageTesting_Adminhtml</magetesting>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <magetesting>
                    <file>rocketweb_magetesting.xml</file>
                </magetesting>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <magetesting>
            <wizard>
                <support_link>https://rocketwebinc.zendesk.com/anonymous_requests/new</support_link>
            </wizard>
        </magetesting>
    </default>
</config>
